html{
	/*Scaling Background Image*/
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;

	/*position: fixed;*/
	padding: 0; 
	width: 100%;
    height: auto;
}

body{
	display: block;
	
	width: 60%;
	height: auto;
	background-color: #eeeeee;
}

#wrapper{
	
}